<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon" />
</head>
<body>

    <div class="wrapper">
        @if (User.Identity.IsAuthenticated)
    {
        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a href="/home" title=""><img src="~/images/logo.png" alt=""></a>
                    </div><!--logo end-->
                    <div class="search-bar">
                        <form>
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit"><i class="la la-search"></i></button>
                        </form>
                    </div><!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/home" title="">
                                    <span><img src="~/images/icon1.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/profiles" title="">
                                    <span><img src="~/images/icon4.png" alt=""></span>
                                    Profiles
                                </a>
                            </li>
                            <li>
                                <a href="/messages" title="" class="not-box-open">
                                    <span><img src="~/images/icon6.png" alt=""></span>
                                    Messages
                                </a>
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img src="http://via.placeholder.com/30x30" alt="">
                            <a href="#" title="">John</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss">
                            <h3>Settings</h3>
                            <ul class="us-links">
                                <li><a href="/account/updatesettings" title="">Account Setting</a></li>
                                <li><a href="#" title="">Terms & Conditions</a></li>
                            </ul>
                            <h3 class="tc"><a href="/authentication" title="">Logout</a></h3>
                        </div><!--user-account-settingss end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->
}
        @RenderBody()

    </div><!--theme-layout end-->


        <script type="text/javascript" src="~/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/popper.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.mCustomScrollbar.js"></script>
        <script type="text/javascript" src="~/lib/slick/slick.min.js"></script>
        <script type="text/javascript" src="~/js/scrollbar.js"></script>
        <script type="text/javascript" src="~/js/script.js"></script>

    </body>
</html>